/* 輪播圖容器 */
.carousel {
    height: 600px;
    width: 50%; /* 保留寬度 */
    margin: 50px auto; /* 上下間距 20px，自動左右置中 */
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  /* 圖片容器 */
  .carousel-container {
    display: flex;
    transition: transform 1.2s ease-in-out;
    position: relative;
    
    left: 0;
  }

  
  /* 單個幻燈片 */
  .slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* 顯示當前幻燈片 */
  .slide.active {
    opacity: 1;
    
  }
  
  /* 圖片 */
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* 左右導航按鈕 */
  .carousel-controls {
    
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .carousel-controls span {
    opacity: 0;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    user-select: none;
    transition: background-color 0.3s;
  }
  
  .carousel-controls span:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  #pic-fit{
    height: 100%;
    width: 100%;
  }